<!DDOCTYPE html>
<html lang ="en">
<head>
	 <meta charset="UTF-8">
	 <title>AngularJS | Search Box</title>

</head>	
	
<body ng-app="mainApp">
	


	<div ng-controller="fun">
	
			<h2>Songs And Movie of 2016</h2>
			<ul ng-repeat="songs in list | filter: globalSearch">
				<li>{{ songs.Song }} : {{ songs.Movie }} : {{ songs.Rating}}</li>	
		    </ul>
		 
	</div>
	<p>Global Search Filter: <input type="text" ng-model="globalSearch.$"></p>	
	<p>Song Search Filter:<input type="text" ng-model="globalSearch.Song"></p>
	<p>Movie Search Filter:<input type="text" ng-model="globalSearch.Movie"></p>
	<p>Rating Search Filter:<input type="text" ng-model="globalSearch.Rating"></p>
   
	
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	 <script src ="controller.js"></script>


		

	
</body>
</html>		    
			 
